<div class="container">
    <div class="row">
        <div *ngFor="let item of BlogData | slice: (page-1) * pageSize : page * pageSize" class="col-md-3 col-sm-6 mt-5">
            <mat-card class="example-card">
                <mat-card-header class="d-flex align-items-center">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="text-hidden-1">{{item.title}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/images/image{{item.imageId}}.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content class="my-2 text-hidden-3">
                    <p>
                        {{item.body}}
                    </p>
                </mat-card-content>
                <mat-card-actions style="display: flex; justify-content: space-between; align-items: center;">
                    <button (click)="openDialog(item, false)" color="accent" mat-raised-button>Görüntüle</button>
                    <button (click)="openDialog(item, true)" color="primary" mat-raised-button>Düzenle</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>


<div class="d-flex justify-content-center my-3">
    <ngb-pagination [pageSize]="pageSize" [(page)]="page" [collectionSize]="BlogData.length"></ngb-pagination>
</div>
